
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0 auto;
}

.li-bg{
    background-color: rgba(65, 255, 107, 0.1);
}

.dispaly-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.inter-font{
  font-family: "Inter", sans-serif;
}
.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
 }

 .roboto-font{
  font-family: "Roboto", sans-serif;
}

 .text-white{
    color: rgba(255, 255, 255, 1);
 }
.li-text{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);

}
.bg-green-text-white{
    background-color: rgba(0, 166, 62, 1);
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid var(--Stroke, rgba(212, 214, 213, 1));
    border-radius: 8px;

}
.bg-white{
background-color: white;
}


.nav-ber-logo{
    width: 60px;
    height: 60px;
}
.nav-ber-right-part-image{
width: 24px;
height: 24px;
}
ul{
    list-style: none;
}
.nav-ber-left-part{
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgba(0, 103, 71, 1);
    font-size: 30px;
    font-weight: bold;

}

.nav-ber-ul{
    display: flex;
    gap: 5px;
    align-items: center;


}
.nav-ber-li{
    width: 123px;
    height: 52px;
    border-radius: 30px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: cover;
    height: 50px;
    padding: 24px 60px;
}


.hero-part{
text-align: center;
width: cover;
height: 250px;
background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
padding: 12px 0px;
}

.logo-hero-part{
    width: 92px;
    height: 92px;
}
.hero-heading-text{
    font-weight: bold;
    font-size: 40px;

}
.hero-paragragh-text{
    font-size: 20px;
    font-weight: 700;
}


.image-of-card{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgba(255, 227, 226, 1);
}
.card-image-heart-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.card{
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
}
.button-size-for-card{
width: 110px;
height: 40px;
border-radius: 10px;
border: 1px solid rgba(212, 214, 213, 1);
}

.card-headings{
    font-size: 24px;
    font-weight: bold;
}
.card-text{
    color: rgba(92, 92, 92, 1);
    font-size: 18px;
    margin-top: -20px;


}
.card-sevice-type{
    width: 90px;
    height: 37px;
    border-radius: 10px;
    background: rgba(242, 242, 242, 1);
    display: flex;
    align-items: center;
    justify-content: center;

}

.total-section{
    padding: 60px;
    margin: 0 auto;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;

}
.last{
  grid-row: span 3;
}



.history-heading-text{
font-size: 20px;
font-weight: 500;
color: rgba(17, 17, 17, 1);
}

.history-heading-left-part{
    display: flex;
    gap: 5px;
    align-items: center;
}

.history-clear-button{
    width: 114px;
    height: 52px;
    border-radius: 30px;
}
.history-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.history{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: aliceblue;
    height: 80px;
    padding: 10px 10px;
    margin-top: 10px;
}
.history-type{
    font-size: 20px;
    font-weight: bold;
}
.date-and-number{
    font-size: 18px;
}